0# Wirtualne środowisko
venv/
env/
einkpdf-env/
old/
.env/
._*

# Pliki pycache
__pycache__/
*.py[cod]
*$py.class

# Baza danych SQLite
*.db

# Logi i dane tymczasowe
*.log
tmp/
temp/

# Środowisko IDE
.idea/
.vscode/
*.sh

# Konfiguracja lokalna
.env

CLAUDE.md
.DS_Store
